public/RegistrarContratoEjb.wsdl

<?xml version="1.0"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions 
    targetNamespace="http://localhost:3000/RegistrarContratoService" 
    xmlns:tns="http://localhost:3000/RegistrarContratoService" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:wsp="http://www.w3.org/ns/ws-policy" 
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    name="RegistrarContratoService">
<types>
<xsd:schema>
<xsd:import schemaLocation="./RegistrarContratoEjb.xsd" namespace="http://ws.motorpagos.iev.ptesa.com/"></xsd:import>
</xsd:schema>
</types>
<message name="RegistroNumeroContrato">
<part name="parameters" element="tns:RegistroNumeroContrato"></part>
</message>
<message name="RegistroNumeroContratoResponse">
<part name="parameters" element="tns:RegistroNumeroContratoResponse"></part>
</message>
<message name="RegistroModicarMedio">
<part name="parameters" element="tns:RegistroModicarMedio"></part>
</message>
<message name="RegistroModicarMedioResponse">
<part name="parameters" element="tns:RegistroModicarMedioResponse"></part>
</message>
<message name="ConsultarMedioPago">
<part name="parameters" element="tns:ConsultarMedioPago"></part>
</message>
<message name="ConsultarMedioPagoResponse">
<part name="parameters" element="tns:ConsultarMedioPagoResponse"></part>
</message>
<message name="ConsultarRedPago">
<part name="parameters" element="tns:ConsultarRedPago"></part>
</message>
<message name="ConsultarRedPagoResponse">
<part name="parameters" element="tns:ConsultarRedPagoResponse"></part>
</message>
<portType name="RegistrarContratoEjb">
<operation name="RegistroNumeroContrato">
<input message="tns:RegistroNumeroContrato" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/RegistroNumeroContratoRequest"></input>
<output message="tns:RegistroNumeroContratoResponse" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/RegistroNumeroContratoResponse"></output>
</operation>
<operation name="RegistroModicarMedio">
<input message="tns:RegistroModicarMedio" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/RegistroModicarMedioRequest"></input>
<output message="tns:RegistroModicarMedioResponse" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/RegistroModicarMedioResponse"></output>
</operation>
<operation name="ConsultarMedioPago">
<input message="tns:ConsultarMedioPago" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/ConsultarMedioPagoRequest"></input>
<output message="tns:ConsultarMedioPagoResponse" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/ConsultarMedioPagoResponse"></output>
</operation>
<operation name="ConsultarRedPago">
<input message="tns:ConsultarRedPago" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/ConsultarRedPagoRequest"></input>
<output message="tns:ConsultarRedPagoResponse" wsam:Action="http://ws.motorpagos.iev.ptesa.com/RegistrarContratoEjb/ConsultarRedPagoResponse"></output>
</operation>
</portType>
<binding name="RegistrarContratoEjbPortBinding" type="tns:RegistrarContratoEjb">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
<operation name="RegistroNumeroContrato">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="RegistroModicarMedio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarMedioPago">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarRedPago">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RegistrarContratoService">
<port name="RegistrarContratoEjbPort" binding="tns:RegistrarContratoEjbPortBinding">
<soap:address location="http://localhost:3000/RegistrarContratoService"></soap:address>
</port>
</service>
</definitions>